@font-face {
  font-family: Bebas;
  src: url(font/bebas_neue/BebasNeue-Regular.ttf)
}

*{
  font-family: Bebas;
}

@media screen and (max-width:992px) {
    header{
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 9999;
    }

    main{
        padding-top: 80px;
    }
  }